.card-button{
	margin-top: 10px;
	height: 75px;
	width: 150px;
	background: linear-gradient(135deg, rgb(100,100,255), rgb(150,150,255));
	border-radius: 12px;
	box-shadow: 5px 5px 8px rgb(100,100,150);
	font-family: "stfangsong";
	font-size: 30px;
	font-weight: bold;
}
.card-link{
	background: linear-gradient(135deg, rgb(255,160,160), rgb(255,150,150));
	border-radius: 12px;
	box-shadow: 5px 5px 8px rgb(100,100,150);
	font-family: "stfangsong";
	font-size: 30px;
}
.card-back{
	text-align: left;
	font-family: "stliti";
	font-style: italic;
	text-decoration: underline;
	font-size: 30px;
}
.link{
	color: blue;
	font-family: "Segoe UI";
	font-size: 25px;
	font-style: italic;
	text-decoration: underline;
}