a{
    text-decoration: none;
}
hr{
	height: 2px;
	border-width: 0;
	color: darkblue;
	background-color: darkblue;
}
.bg{
    background: linear-gradient(rgba(255,200,200,0.8), rgba(255,200,200,0.8)), url("/image/BG.png") no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.fm{
    text-align: center;
}
.header{
    margin: auto;
    font-family: "等线";
    font-size: 40px;
    color: rgb(0,0,0);
    background-color: rgb(255,255,255);
    width: 100%;
}